1. What are data structures, and why are they important?

->Data structures are ways to store and organize data. They help us find and use data quickly. They make programs run faster and use memory better.

2. Explain the difference between mutable and immutable data types with examples.
->
Mutable data can be changed, like a list [1, 2, 3]. Immutable data can't be changed, like a string "hello" or a tuple (1, 2, 3). This affects how we use and update them.

3. What are the main differences between lists and tuples in Python?
->Lists can be changed (add, remove, update items), but tuples cannot be changed after they are made. Use lists when data will change, and tuples when it should stay the same.

4. Describe how dictionaries store data.
->Dictionaries keep data in pairs — one part is the key, the other is the value. Like a contact list with names as keys and phone numbers as values.

5. Why might you use a set instead of a list in Python?
->Sets only keep unique items — no duplicates allowed. They’re also faster when checking if something is inside. Use a set when you want only different items.

6. What is a string in Python, and how is it different from a list?
->A string is a set of characters like "Python" and cannot be changed. A list can hold many types of data and can be changed. Lists are more flexible than strings.

7. How do tuples ensure data integrity in Python?

->Tuples can’t be changed after they’re made. This keeps the data safe from accidental changes. That’s why they’re good for storing fixed information.

8. What is a hash table, and how does it relate to dictionaries in Python?
->A hash table stores data using a special code called a hash. Dictionaries use this to quickly find values using keys, like looking up a word in a dictionary.

9. Can lists contain different data types in Python?
->Yes! A list can have numbers, words, or even other lists. Example: [1, "hello", [2, 3]] — all in one list.

10. Explain why strings are immutable in Python.
->Strings can’t be changed after they’re made. If you try to change one, Python makes a new one instead. This helps keep things safe and fast.

11. What advantages do dictionaries offer over lists for certain tasks?
->Dictionaries are better when you need to find things by name or label (key). Lists are slower because you must search by position or go through each item.

12. Describe a scenario where using a tuple would be preferable over a list.
->Use a tuple when the data should not change, like storing a date of birth or (x, y) coordinates. This protects the data from being changed by mistake.

13. How do sets handle duplicate values in Python?
->Sets remove duplicates by themselves. If you add the same value more than once, the set keeps it only once.

14. How does the “in” keyword work differently for lists and dictionaries?
->In a list, in checks if a value is inside. In a dictionary, it checks if a key is there. Example: "apple" in my_dict checks for a key, not a value.

15. Can you modify the elements of a tuple? Explain why or why not.
->No, you can’t change a tuple once it’s made. That’s because tuples are fixed — they are made to keep data safe and unchangea

16. What is a nested dictionary, and give an example of its use case.
->A nested dictionary is a dictionary inside another. Example: {"John": {"math": 90, "science": 80}}. It’s useful for storing info about many things in one place.

17. Describe the time complexity of accessing elements in a dictionary.
->Getting a value from a dictionary is very fast — it usually takes the same short time no matter how big it is. This is because of how keys are stored using hashes.

18. In what situations are lists preferred over dictionaries?
->Use lists when you care about the order of items or don’t need names for them. Like a list of numbers or names in a row.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
->Before Python 3.7, dictionaries didn’t keep the order of items. Now they do, but you still access items by key, not position like a list.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
->Lists use numbers (indexes) to get items, like my_list[0]. Dictionaries use keys, like my_dict["name"]. Dictionaries are better for named data.

In [ ]:
""" Practical Questions """

In [2]:
'''
1. Write a code to create a string with your name and print it
'''
name = "John"
print(name)

John

In [3]:
"""
2. Write a code to find the length of the string "Hello World"
"""
text = "Hello World"
print(len(text))

11

In [4]:
'''
3. Write a code to slice the first 3 characters from the string "Python Programming"
'''
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
"""
 4. Write a code to convert the string "hello" to uppercase.
"""

text = "hello"
print(text.upper())

HELLO

In [6]:
'''
 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
'''

text = "I like apple"
new_text = text.replace("apple", "orange")
new_text

'I like orange'

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1, 2, 3, 4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

In [10]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [11]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
my_list

[50, 40, 30, 20, 10]

In [12]:
# 11. Create a tuple with the elements 100, 200, 300 and print it

my_tuple = (100, 200, 300)
my_tuple

(100, 200, 300)

In [13]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

In [14]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)

my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [16]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [18]:
# 15. Create a tuple with fruits and check if "kiwi" is in it

fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

In [19]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
my_set

{'a', 'b', 'c'}

In [20]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}

my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [21]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

In [22]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

In [26]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [27]:
# 21. Create a dictionary with keys "name", "age", and "city" and print it

my_dict = {"name": "Alice", "age": 30, "city": "New York"}
my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [28]:
# 22. Add a new key-value pair "country": "USA"

my_dict["country"] = "USA"
my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [29]:
# 23. Access the value of key "name" in {'name': 'Alice', 'age': 30}

person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [30]:
# 24. Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'New York'}

In [31]:
# 25. Check if the key "city" exists in {'name': 'Alice', 'city': 'Paris'}

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [32]:
# 26. Create a list, a tuple, and a dictionary, and print them all

# 26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, "hello"]
my_tuple = (10, 20, 30)
my_dict = {"apple": 1, "banana": 2}

print(my_list)
print(my_tuple)
my_dict

[1, 2, 3, 'hello']
(10, 20, 30)

{'apple': 1, 'banana': 2}

In [33]:
# 27. Create a list of 5 random numbers between 1 and 100, sort and print it

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
random_numbers

[3, 26, 75, 88, 88]

In [34]:
# 28. Create a list with strings and print the element at the third index

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_list[2]

'cherry'

In [36]:
# 29. Combine two dictionaries and print the result

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
combined_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [37]:
# 30. Convert a list of strings into a set

strings_list = ["apple", "banana", "cherry", "apple", "date"]
string_set = set(strings_list)
string_set

{'apple', 'banana', 'cherry', 'date'}